<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <title>Homepage - Patient Portal</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <!--[if lte IE 9]>
    <link href='/PATH/TO/FOLDER/css/animations-ie-fix.css' rel='stylesheet'>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/css3-animate-it.js"></script>
    <script src="js/scripts.js"></script>
    <![endif]-->
</head>

<body>

<!-- Homepage -->
<div class="main">
    <div class="homepage">
        <div class="container-fluid header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-6">
                        <div class="logo"><a href="#"><img src="images/icon/redimed.svg"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                        <div class="dropdown">
                            <button class="btn btn-success btn-lg" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Duc Vu
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><a href="my-profile.html"><i class="fa fa-user-o"></i> My Profile</a></li>
                                <li><a href="mybooking.html"><i class="fa fa-calendar"></i> My Booking</a></li>
                                <li><a href="my-organization.html"><i class="fa fa-users"></i> My Organzination</a></li>
                                <li><a href="setting.html"><i class="fa fa-cogs"></i> Setting</a></li>
                                <li><a href="#"><i class="fa fa-list-alt"></i> Invoices</a></li>
                                <hr class="hr-custom">
                                <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-->

        <div class="container center">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="text-center title-home">Book a doctor, dentist, physio and more</h1>
                </div>
            </div>
            <div class="row">
                <div align="center" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
                    <div class="main-icon">
                        <div class="block-icon">
                            <a href="#">
                                <img src="images/icon-1.svg">
                                <p>GP</p>
                            </a>
                        </div>
                        <div class="block-icon">
                            <a href="#">
                                <img src="images/icon-2.svg">
                                <p>Specialist</p>
                            </a>
                        </div>
                        <div class="block-icon">
                            <a href="#">
                                <img src="images/icon-3.svg">
                                <p>Physio</p>
                            </a>
                        </div>
                        <div class="block-icon">
                            <a href="#">
                                <img src="images/icon-4.svg">
                                <p>PEM</p>
                            </a>
                        </div>
                        <div class="block-icon">
                            <a href="#">
                                <img src="images/icon-5.svg">
                                <p>2hands</p>
                            </a>
                        </div>
                        <div class="block-icon">
                            <a href="#">
                                <img src="images/icon-6.svg">
                                <p>More</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="box-search">
                        <h2 class="text-center">Looking for something else?</h2>
                        <div class="form-group">
                            <div class="input-group form-group m_20_0">
                                <input type="text" class="form-control input-lg input-lg-custom " placeholder="Suburd, Practitioner, Practice and Procedure">
                                <span class="input-group-btn">
                                    <button class="btn btn-lg btn-lg-custom btn-primary" type="button">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid footer hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <p><a href="#"><img src="images/icon/redimed-bw.svg" border="0" width="120" height="30"></a></p>
                        <h4>Contact Us</h4>
                        <ul>
                            <li>Joondalup: <b>08 9300 3835</b></li>
                            <li>Belmont: <b>08 9230 0900</b></li>
                            <li>Rockingham: <b>08 9527 1585</b></li>
                            <li><a href="#"><h4>Mobile App</h4></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 column-2">
                        <h4>Commercial</h4>
                        <ul>
                            <li><a href="#">Health screening and Wellness</a></li>
                            <li><a href="#">Injury Management</a></li>
                            <li><a href="#">Medico Legal</a></li>
                            <li><a href="#">Telehealth Services</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 column-3">
                        <h4>Urgent Injury Care</h4>
                        <ul>
                            <li><a href="#">General Medical Services</a></li>
                            <li><a href="#">Allied Health Services</a></li>
                            <li><a href="#">Surgical Specialists</a></li>
                            <li>24/7 Emergency</li>
                        </ul>
                    </div>
                    <div align="center" class="col-lg-3 col-md-3 col-sm-3">
                        <p><a href="#"><img src="images/homepage/logo-iso9001-l.png" width="60px" border="0"></a></p>
                        <p class="copyright"><span>© REDIMED 2015</span> - Website Design by Meditek</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Sign In -->
    <div id="SignIn-modal"  class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title text-center">Sign In to Redimed</h2>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Username">
                    </div>
                    <p class="text-right"><a href="#">Forgot your password ?</a></p>
                    <div class="form-group">
                        <button class="btn btn-group-justified btn-primary btn-lg">Sign in</button>
                    </div>
                    <hr>
                    <p>Don't have an account ? <a href="#">Join Now !</a></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ForgotPassword-modal">
        Forgot your password ?
    </button>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#SignIn-modal">
        Sign In
    </button>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#SignUp-modal">
        Sign Up
    </button>
    <!-- Modal Forgot Password -->
    <div id="ForgotPassword-modal"  class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title text-center">Forgot your password ?</h2>
                </div>
                <div class="modal-body">
                    <p class="m-20-0">Enter your email address below and we’ll send you instructions to reset your password</p>
                    <div class="form-group">
                        <input class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-group-justified btn-primary btn-lg">Send Reset Link</button>
                    </div>
                    <hr>
                    <p class="text-center"><a href="#">Back to Sign in</a></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal Sign Up -->
    <div id="SignUp-modal"  class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title text-center">Create an account</h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="title-signup">
                                <h3 class="text-uppercase nopadding nomargin">Individual</h3>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="First name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-group-justified btn-success btn-lg">Create an account</button>
                            </div>
                        </div>

                        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                            <div class="ver-line text-center">
                                <div class="ver-text">
                                    <span>Or</span>
                                </div>
                            </div>
                        </div>

                        <hr class="hidden-lg hidden-md">

                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="title-signup">
                                <h3 class="text-uppercase nopadding nomargin">Organization</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="First name">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Last name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Organzination Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Address">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Surburb">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Post code">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="State">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Contact Number">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-group-justified btn-success btn-lg">Create an account</button>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <hr>

                    <p class="text-center">Have an account ? <a href="#">Sign In !</a></p>


                </div>
                <div class="modal-footer" align="center">
                    <p class="small text-center">By Signin up with Redimed, I agree to the <a href="#">Term of Use.</a></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/css3-animate-it.js"></script>
<script src="js/stacktable.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/bootstrap.min.js"></script>


</body>


</html>
