<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="index.html">index</a></li>
    <li><a href="invoice.html">invoice</a></li>
    <li><a href="booking.html">booking</a></li>
    <li><a href="my-organization.html">my-organization</a></li>
    <li><a href="my-profile.html">my-profile</a></li>
    <li><a href="mybooking.html">mybooking</a></li>
    <li><a href="setting.html">setting</a></li>
    <li><a href="result-search.html">result-search</a></li>
</ul>

</body>
</html>
