<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <title>My Booking - SG Website 2016</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <!--[if lte IE 9]>
    <link href='/PATH/TO/FOLDER/css/animations-ie-fix.css' rel='stylesheet'>
    <![endif]-->

</head>

<body>
<!-- My Booking -->

<div class="main">
    <div class="subpage my-booking">
        <div class="container-fluid header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-6">
                        <div class="logo"><a href="#"><img src="images/icon/redimed.svg"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" align="right">
                        <div class="login"><a type="button" data-toggle="dropdown" class="btn-login dropdown-toggle" href="#user-setting">Username</a></div>
                        <ul id="user-setting" class="dropdown-menu user-setting">
                            <li><a href="my-profile.html"><i class="fa fa-user-o"></i> My Profile</a></li>
                            <li><a href="mybooking.html"><i class="fa fa-calendar"></i> My Booking</a></li>
                            <li><a href="#"><i class="fa fa-users"></i> My Organzination</a></li>
                            <li><a href="#"><i class="fa fa-cogs"></i> Setting</a></li>
                            <li><a href="#"><i class="fa fa-list-alt"></i> Invoices</a></li>
                            <hr class="hr-custom">
                            <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!--/header-->

        <div class="container-fluid">
            <div class="row page-title">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <h1>My Bookings</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <h2 class="section-subtitle">Upcoming Appointments</h2>
                    </div>
                </div>
            </div>

            <div class="container section-title">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <h2 class="text-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Your booking at Stirling Central Medical Group (Westminster) has been confirmed</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <table class="table table-condense table-hover">
                            <thead>
                            <tr class="text-nowrap">
                                <th>Date</th>
                                <th>Time</th>
                                <th>Clinic</th>
                                <th>Doctor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Sun, Dec 4</td>
                                <td>9:00 Am</td>
                                <td>Redimed Belmont</td>
                                <td>Steve Dunjey</td>
                            </tr>
                            <tr>
                                <td>Sun, Dec 4</td>
                                <td>9:00 Am</td>
                                <td>Redimed Belmont</td>
                                <td>Steve Dunjey</td>
                            </tr>
                            <tr>
                                <td>Sun, Dec 4</td>
                                <td>9:00 Am</td>
                                <td>Redimed Belmont</td>
                                <td>Steve Dunjey</td>
                            </tr>
                            <tr>
                                <td>Sun, Dec 4</td>
                                <td>9:00 Am</td>
                                <td>Redimed Belmont</td>
                                <td>Steve Dunjey</td>
                            </tr>
                            <tr>
                                <td>Sun, Dec 4</td>
                                <td>9:00 Am</td>
                                <td>Redimed Belmont</td>
                                <td>Steve Dunjey</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <h2 class="section-subtitle">Previous Appointments</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row section-title">
                    <div class="col-lg-12 col-xs-12">
                        <h2><a type="submit"><i class="fa fa-search" aria-hidden="true"></i></a><input class="transperant-search" placeholder="Search"></h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <table class="table table-condense table-hover">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Clinic</th>
                                <th>Doctor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Sun, Dec 4</td>
                                <td>9:00 Am</td>
                                <td>Redimed Belmont</td>
                                <td>Steve Dunjey</td>
                            </tr>
                            <tr>
                                <td>Sun, Dec 4</td>
                                <td>9:00 Am</td>
                                <td>Redimed Belmont</td>
                                <td>Steve Dunjey</td>
                            </tr>
                            <tr>
                                <td>Sun, Dec 4</td>
                                <td>9:00 Am</td>
                                <td>Redimed Belmont</td>
                                <td>Steve Dunjey</td>
                            </tr>
                            <tr>
                                <td>Sun, Dec 4</td>
                                <td>9:00 Am</td>
                                <td>Redimed Belmont</td>
                                <td>Steve Dunjey</td>
                            </tr>
                            <tr>
                                <td>Sun, Dec 4</td>
                                <td>9:00 Am</td>
                                <td>Redimed Belmont</td>
                                <td>Steve Dunjey</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div> <!--/center-->

        <div class="container-fluid footer hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <p><a href="#"><img src="images/icon/redimed-bw.svg" border="0" width="120" height="30"></a></p>
                        <h4>Contact Us</h4>
                        <ul>
                            <li>Joondalup: <b>08 9300 3835</b></li>
                            <li>Belmont: <b>08 9230 0900</b></li>
                            <li>Rockingham: <b>08 9527 1585</b></li>
                            <li><a href="#"><h4>Mobile App</h4></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 column-2">
                        <h4>Commercial</h4>
                        <ul>
                            <li><a href="#">Health screening and Wellness</a></li>
                            <li><a href="#">Injury Management</a></li>
                            <li><a href="#">Medico Legal</a></li>
                            <li><a href="#">Telehealth Services</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 column-3">
                        <h4>Urgent Injury Care</h4>
                        <ul>
                            <li><a href="#">General Medical Services</a></li>
                            <li><a href="#">Allied Health Services</a></li>
                            <li><a href="#">Surgical Specialists</a></li>
                            <li>24/7 Emergency</li>
                        </ul>
                    </div>
                    <div align="center" class="col-lg-3 col-md-3 col-sm-3">
                        <p><a href="#"><img src="images/homepage/logo-iso9001-l.png" width="60px" border="0"></a></p>
                        <p class="copyright"><span>© REDIMED 2015</span> - Website Design by Meditek</p>
                    </div>
                </div>
            </div>
        </div> <!--/footer-->


        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Booking-1-modal">
            Forgot your password ?
        </button>

        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Booking-2-modal">
            Forgot your password ?
        </button>
        <!-- Modal -->
        <!-- Modal Booking 1 -->
        <div id="Booking-1-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h2 class="time-booking text-primary">09:00 AM</h2>
                            <h3 class="date-booking text-primary">Sun, Dec 4, 2016</h3>
                            <p>Patient <i class="fa fa-caret-right"></i> <a href="#"><b>John Tran</b></a></p>
                            <p>Doctor <i class="fa fa-caret-right"></i> <a href="#"><b>John Tran</b></a></p>
                            <address>
                                <strong><abbr title="address">• Address:</abbr></strong><Br>
                                Redimed Belmont<br>
                                (Westminster)<br>
                                Unit 1 Frederick Street, Belmont, WA 6104
                            </address>
                            <address>
                                <strong><abbr title="phone">• Mobile:</abbr> <b class="text-primary">(08) 9230 0900</b></strong>
                            </address>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input type="text" class="form-control input-sm input-booking" placeholder="Symptons">
                            </div>
                            <div class="form-group">
                                <input class="form-control input-sm" placeholder="Diagnotics">
                            </div>
                            <div class="form-group">
                                <input class="form-control input-sm" placeholder="Prescriptions">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Next Appointment / Plan"></textarea>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" placeholder="Note"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success">Update</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!-- Modal Booking 2 -->
        <div id="Booking-2-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h2 class="time-booking text-primary">09:00 AM</h2>
                            <h3 class="date-booking text-primary">Sun, Dec 4, 2016</h3>
                            <p>Patient <i class="fa fa-caret-right"></i> <a href="#"><b>John Tran</b></a></p>
                            <p>Doctor <i class="fa fa-caret-right"></i> <a href="#"><b>John Tran</b></a></p>
                            <address>
                                <strong><abbr title="address">• Address:</abbr></strong><Br>
                                Redimed Belmont<br>
                                (Westminster)<br>
                                Unit 1 Frederick Street, Belmont, WA 6104
                            </address>
                            <address>
                                <strong><abbr title="phone">• Mobile:</abbr> <b class="text-primary">(08) 9230 0900</b></strong>
                            </address>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div id="map" class="map"></div>

                            <script>
                                function myMap() {
                                    var mapOptions = {
                                        center: new google.maps.LatLng(51.5, -0.12),
                                        zoom: 10,
                                        mapTypeId: google.maps.MapTypeId.HYBRID
                                    }
                                    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                                }
                            </script>

                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
                            <div align="center"><a class="underline" href="#"><h3>Get Direction</h3></a></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</div>

<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/css3-animate-it.js"></script>
<script src="js/stacktable.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/bootstrap.min.js"></script>


</body>


</html>
