// font variables
$font: 'UTMAptima', sans-serif;

// color variables
$normal:		#6d6e71;
$red: 			#ed1c24;
$light_grey:	#6d6e71;
$dark_grey: 	#6d6e71;
$action: 		#1198de;
$medium_grey:	#e2e2e2;
$white: 		#fff;
$alert: 		#ff4300;
$yellow:		#ffea00;
$blue:          #0991ca;  /* Main corlor */


 



 

